@model Chat.Web.Models.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
    <link href="~/Content/Css/common.css" rel="stylesheet" />
    <link href="~/Content/Css/login.css" rel="stylesheet"/>
    <link href="~/Content/Css/bootstrap.min.css" rel="stylesheet"/>
    
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
@using (Html.BeginForm("Index", "Login", FormMethod.Post))
{
    <div class="panel">
        <div class="h4">Welcome</div>
        <span>Login</span>
        @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
        <span>Password</span>
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        <div class="hor-center-parent">
            <button class="btn btn-default" type="submit" value="submit">Go</button>
        </div>
    </div>

    <div class="hor-center-parent">
        @Html.ActionLink("Are you a new one?", "Index", "Register", null, new { @class = "btn btn-link" })
    </div>

    if (Model.MessageViewModel != null && Model.MessageViewModel.HasError)
    {
        <div class="alert alert-danger">
            @Model.MessageViewModel.Message
        </div>
    }

    if (Model.MessageViewModel != null && Model.MessageViewModel.HasSuccess)
    {
        <div class="alert alert-success">
            @Model.MessageViewModel.Message
        </div>
    }
}
</body>
</html>